*{
    padding: 0;
    margin: 0;
}
.navegador{
    background-color: lightblue;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
 
#searchInput, #searchCharacters{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
     cursor: pointer;
}


#listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    text-align: center;
}

.characters {
    flex: 1 1 200px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.characters img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;     /* optional: force portrait ratio */
    object-fit: cover;
    border-radius: 8px;
}


#container{
     display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.information{
     flex: 1 1 200px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}
