*{
    padding: 0;
    margin: 0;
}

.header{
    position: relative;
}
.menu{
    display: flex;
    width: 50vw;
    height: 20vh;
    justify-content: space-between;
    background-color: aliceblue;
}

.menu img{
    border-radius: 60px;
}

.hero{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.contennidoInicio{
    margin: 100px;
    display: table-column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.buttonSearch{
    margin-top: 0;
    display: flex;
    height: 5vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.bg{
    position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 clip-path: polygon(0 100px, 80px 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
}